.nav-desktop {
  width: 90%;
}
.nav__links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.nav__link {
  cursor: pointer;
  color: #fff;
  a {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #c6c6c6;
    }
  }
  &:hover {
    color: #c6c6c6;
  }
}
